{% extends 'base.html.twig' %}

{% block body %}
        <div class="container">
		  <div class="jumbotron">
		    <h1>Vote pour ta saga preféré</h1>
		    <p>Ce mois-ci participe au battle Stars Wars VS StarTrek</p>
		    <a class="btn btn-primary "href="/app_dev.php/inscrire">Je vote</a>
		  </div>
		 
		</div>
{% endblock %}
